@model ProiectDaw.Models.Bookmark
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Bookmark", null, FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{

    <legend>Bookmark</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.ImagePath)
    </div>
    <div class="editor-field">
        <input id="ImagePath" title="Upload a bookmark image"
               type="file" name="file" />
        @Html.ValidationMessageFor(b => b.ImagePath, "", new { @class = "text-danger" })
    </div>
    @Html.Label("Title", "Bookmark Title")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Title, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Description", "Bookmark Description")
    <br />
    @Html.TextBox("Description", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Description, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Category", "Category: ")
    <br />
    @Html.DropDownListFor(b => b.CategoryId, new SelectList(Model.CatergoriesList, "Value", "Text"), "Choose a category", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.CategoryId, "", new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-sm btn-success" type="submit">Add bookmark</button>

}